RewriteEngine On
RewriteCond %{HTTP_HOST} ^ululalbabbjk.com$ [NC,OR]
RewriteCond %{HTTP_HOST} ^www.ululalbabbjk.com$
RewriteCond %{REQUEST_URI} !public/
RewriteRule (.*) /public/$1 [L]
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [R=301,L]
